<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/home.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <div class="home-overlay">
    </div>
    <body class="home-body">
        <div id="home-main">
            <div id="home-one">
                <h1>Par<i class="fas fa-golf-ball"></i>ees</h1>
            </div>
            <div id="home-center">
                <h4>Golf to support a cause / have some fun / improve your game</h4>
                <form action="/user/new">
                    <button id="home-start" type="submit">Get Started</button>
                </form>
                <div id="home-links">
                    <a href="/tour">Upcoming Partees</a>
                    <a href="/tour/host">Host a Partee</a>
                </div>
            </div>
            <% if(session === true){ %>
            <div id="hello-user">
                <h4>Hi <%= user.firstName %>,</h4>
                <a href="/user/<%=user._id%>">View Profile</a>
                <form action="/home/logout" method="POST">
                    <button id="home-logout" type="submit">Logout</button>
                </form>
            </div>
            <% } else { %>
            <div id="home-login">
                <i class="far fa-user"></i>
                <form action="/home" method="POST">
                    <input type="text" name="email" placeholder="email">
                    <input type="password" name="password" placeholder="password">
                    <button type="submit">Login</button><br/>
                </form>
                <a href="/user/new">Sign Up</a>
            </div>    
            <% } %>
        </div>
        <footer>
        footer
        </footer>
    </body>
</html> 