<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>app name</h1>
    <a href="/tour">Tournaments</a>
    <a href="/tour/host">Host a Tournament</a>
    <h4>play to support a cause / have some fun / improve your game</h4>
    <a href="/user/register">Sign Up!</a>
    <aside>
    <h6>(login icon)</h6>
    <form action="" method="">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button><br/>
    <a href="/auth">Sign Up</a>
    </form>
    </aside>
    
    </body>
</html>