<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create an Event</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/articles" method="post">
        <input type="text" name="eventName" /><br/>
        <input type="text" name="location" /><br/>
        <input type="text" name="dateOfEvent" /><br/>
        <input type="text" name="fieldSize" /><br/>
        <input type="submit" value="Submit"/>
      </form>
    </main>
  </body>
</html>