<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create an Event</h1>
    </header>
    <main>
      <form action="/events" method="post">
        <input type="text" name="eventName" value="Event Name"/><br/>
        <input type="text" name="location" value="Location" /><br/>
        <input type="text" name="dateOfEvent" value="Date"/><br/>
        <input type="text" name="fieldSize" value = "Field Size"/><br/>
        <input type="submit" value="Submit for Approval"/>
      </form>
    </main>
  </body>
</html>