.home-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

#home-main {
    display: flex;
    justify-content: space-evenly;

}

form {
    display: flex;
    flex-direction: column;
}

#home-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    background-color: black;
    color: beige;
    text-align: center;
    height: 100px;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 15px; 
}

#home-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
