#index-tour {
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: left;
    margin-left: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card, .card-body {
    width: 430px;
}

.top {
    text-align: end;
}
#nav-host {
    text-align: left;
}
.navbar-nav {
	text-align: right;
}

.nav-logout {
	border: 1px solid rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    font-weight: bold;
    border-radius: 12px;
}