#index-tour {
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: left;
    margin-left: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card, .card-body {
    width: 430px;
}

.top {
    text-align: end;
}