/* new.ejs */
.note
{
    text-align: center;
    height: 80px;
    background-image: -webkit-linear-gradient(left, #0072ff, #007bff);
    color:white;
    font-weight: bold;
    line-height: 80px;
    font-size: 30px;
}


.form-content
{
    padding: 5%;
    border: 1px solid #007bff;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
    /* margin-left: 230px; */
}

.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #007bff;
    color: #fff;
    /* margin-left: 360px; */

}



/* user show.ejs */

header {
    margin-bottom: 50px;
}
.image {
    border: 3px #007bff solid;
    border-radius: 10px;
    display: inline-block;
    width: 45%;
    float: left;
     margin: 10px 100px 50px 100px;
     height: 300px;  
}
.container {
    color: #007bff;
    font-weight: 700;
    /* font-family: 'Courgette', cursive; */
    border: 1px solid #007bff; 
}
.title {
   margin-top: 30px;
    text-align: center; 
} 
.home-btn {
    text-align: center;      
} 

.left-side {
    display: inline-block;
    width: 200px;
    float: left;
}
.right-side {
    display: inline-block;
    width: 200px;
    float: right;  
}
footer {
   clear: both;
   text-align: center;
}
.edit-btn {
    display: inline-block;
}
.delete-btn {
    display: inline-block;
}

/* user edit page */


body{
    margin-top:20px;
    background:#F0F8FF;
}
.container-left {
    width: 500px;
    display: inline-block;
    border: 1px solid #007bff; 
    padding: 20px;
}
.container-right {
    width: 500px;
    display: inline-block;
    border: 1px solid #007bff; 
    padding: 20px;
}

