/* new.ejs */
.note
{
   text-align: center;
   height: 80px;
   background-image: -webkit-linear-gradient(left, #0072ff, #007bff);
   color:#63db65;
   font-weight: bold;
   line-height: 80px;
   font-size: 30px;
}

h3 {
    border-bottom: 1px solid #c2ddfa;
    font-weight: bold; 
}


.form-content
{
   padding: 5%;
   border: 1px solid #007bff;
   margin-bottom: 2%;
}
.form-control{
   border-radius:1.5rem;
   /* margin-left: 230px; */
}

.btnSubmit
{
   border:none;
   border-radius:1.5rem;
   padding: 1%;
   width: 20%;
   cursor: pointer;
   background: #007bff;
   color: #fff;
   /* margin-left: 360px; */

}

.container {
    /*background-color: rgb(101, 247, 101);*/
    /*opacity: .7;*/
}

/* user show.ejs */


header {
   margin-bottom: 50px;
}
.image {
   border: 3px #c2ddfa solid;
   border-radius: 10px;
   display: inline-block;
   width: 45%;
   float: left;
    margin: 10px 100px 50px 100px;
    height: 300px;  
}
.container {
    color: #c2ddfa;
    border: none;

}
.title {
    font-family: 'Fredericka the Great', cursive;
    margin-top: 30px;
   text-align: center; 
} 
.home-btn {
   text-align: center;      
}

.left-side {
   display: inline-block;
   width: 200px;
   float: left;
   font-family: 'Poppins', sans-serif;
}
.right-side {
   display: inline-block;
   width: 200px;
   float: right;
   font-family: 'Poppins', sans-serif;  
}
footer {
  clear: both;
  text-align: center;
}
.edit-btn {
   display: inline-block;
}
.delete-btn {
   display: inline-block;
}

/* user edit page */


body{
   /* margin-top:20px; */
   background: green;
}
.container-edit{
   width: 500px;
   border: 1px solid #007bff;
   padding: 20px;
   margin: auto;
}


/* login.ejs */

/* body {
   padding-top: 90px;
} */
.panel-login {
   border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}


#login-form-link {
   margin-left: 150px;
   padding: 50px;
}
body{
background-image: url("/img/remi-muller-326005-unsplash.jpg");
background-position: center;
background-size: cover;
}
.navbar-nav {
	text-align: right;
}

.nav-logout {
	border: 1px solid rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    font-weight: bold;
    border-radius: 12px;
}

li {
    list-style: none;
}

.players{
    list-style-type: upper-roman;
}

a.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
}

.details {
    padding: 0;
    margin: 0;
}

.detail {
    margin: 0 0 10px 0;
}