<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">        
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<nav class="navbar navbar-light" style="background-color: #f0f7da;">
  <a class="navbar-brand mb-0 h1" href="/home">Par<i class="fas fa-golf-ball"></i>ees</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<body>
    <div class="container-register-form">
        <div class="form">
            <div class="note">
                <p>Please Register here</p>
            </div>
            <form class="form-content" action="/user/<%=user._id%>" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email *" value=""/>
                        </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Your Password *" value=""/>
                        </div>
                        </div>
                        </div>
                        <button type="submit" class="btnSubmit">Submit</button>
                    </form>
                    
        </div>  
    </div> 
<script> 
  $(".navbar-toggler").click(()=>{
    $(this).removeClass("collapsed");
    $(this).attr("aria-expanded", "true");
    $(".navbar-collapse").toggleClass("show");
  });
</script>        
</body>
</html>