<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Welcome To Your Profile </h1>
    <nav>
        <ul>
            <li>
                <a href="/">Back Home</a>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Registered Tournaments</h2>
        </section>
        <section>
            <h2>Hosted Tournaments</h2>
        </section>
    </main>


</body>
</html>