<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Welcome To Your Profile </h1>
    <header>
        <ul>
            <li>
                <a href="/">Back Home</a>
            </li>
        </ul>
    </header>
    <main>
        <section>
            <h3>Registered Tournaments</h3>
            <a href="/tour">Click here</a>
        </section>
        <section>
            <h3>Hosted Tournaments</h3>
            <a href="/tour/host">Click here</a>
        </section>
    </main>
    <footer>
        <section>
            <a href="#">EDIT</a>
        </section>
        <section>
            <form action="#" method="POST">
                <input type="submit" value="Delete Tournament"/>
            </form>
        </section>
    </footer>


</body>
</html>