<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=tournament.name%></h1>
      <nav>
        <ul>
          <li>
            <a href="/tour">Tournaments</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
          <a href="/tour/<%=tournament._id%>/edit">Edit</a>
      </section>
    </main>
  </body>
</html>